{% extends 'curso/layout.html' %}

{% block content %}
    <h3>Edita Disciplina</h3>

    <form action="{% url 'curso:edita_disciplina' disciplina.id %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form>

     {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == 'editores_curso' %}
                <a href="{% url 'curso:edita_disciplina' disciplina.id %}">
                    <button>Cancelar</button>
                </a>
            {% endif %}
        {% endfor %}

    {% endif %}

    <button type="button" onclick="window.history.back()">Cancelar</button>

{% endblock %}
