{% extends 'portfolio/layout.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introducao</title>

</head>
<body>

    <h1>Bem-vindo ao meu website!</h1>

    <div class="content">
        <h2>Introdução</h2>
        <p>"A terra remete para o pragmatismo, o dinamismo, a execução, a firmeza, a prontidão, as rotinas, a disciplina de fazer acontecer, o controlo a persistência, a paciência e a responsabilidade."</p>
    </div>
    <br>
</body>
</html>
{% endblock %}
