{% extends 'bandas/layout.html' %}

{% block content %}
    <h3>Edita Álbum</h3>

    <form action="{% url 'bandas:edita_album' album.id %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form>

    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == 'editores_bandas' %}
                <a href="{% url 'bandas:banda_album' album.banda.id %}">
                    <button>Cancelar</button>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}

    <button type="button" onclick="window.history.back()">Cancelar</button>
{% endblock %}
