<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies para Adolescentes</title>

    <style>
        body {
            background: lightblue;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Adolescentes (13-19 anos)</h1>
    </header>

    <main>
        <h2>Puberdade:</h2>
        <p>A fase em que ocorrem mudanças físicas significativas, como o desenvolvimento dos órgãos sexuais, crescimento corporal e mudanças hormonais.</p>

        <h2>Exploração de Identidade:</h2>
        <p>Os adolescentes buscam compreender quem são, seus valores, interesses e objetivos de vida.</p>

        <h2>Sugestões de hobbies:</h2>
        <ul>
            <li><strong>Música (tocar um instrumento):</strong> Aprender a tocar um instrumento musical é uma forma gratificante de expressão criativa e pode ajudar os adolescentes a aliviar o estresse e desenvolver habilidades de concentração.</li>

            <li><strong>Fotografia:</strong> Com o crescimento das redes sociais, a fotografia se tornou um hobby popular entre os adolescentes. Além de capturar momentos especiais, a fotografia promove a criatividade e a apreciação estética.</li>

            <li><strong>Programação de Jogos:</strong> Para adolescentes interessados em tecnologia, aprender a programar jogos pode ser uma atividade empolgante e desafiadora. Isso estimula o pensamento lógico, a resolução de problemas e abre portas para futuras oportunidades de carreira.</li>

            <li><strong>Escrita Criativa:</strong> Escrever contos, poemas ou até mesmo iniciar um blog pessoal permite que os adolescentes explorem sua imaginação e expressem suas ideias e emoções de forma criativa.</li>

            <li><strong>Esportes Radicais:</strong> Praticar esportes radicais como skate, surf, escalada ou snowboard oferece uma dose de adrenalina e aventura, além de promover coragem, determinação e habilidades motoras.</li>
        </ul>
        <p>Quer saber da próxima etapa? Clique <a href="{% url 'guia_de_hobbies:hobbies_jovens' %}">aqui</a>.</p>
    </main>
</body>
</html>
