<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies para crianças</title>

    <style>
        body {
            background: pink;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Crianças (0-12 anos)</h1>
    </header>

    <main>
        <h2>Infância:</h2>
        <p>Os primeiros anos de vida, onde ocorrem marcos importantes como o desenvolvimento da linguagem, coordenação motora e habilidades sociais.</p>

        <h2>Pré-adolescência:</h2>
        <p>O período que antecede a adolescência, caracterizado pelo crescimento físico, desenvolvimento cognitivo e início da formação de identidade.</p>

        <h2>Sugestões de hobbies:</h2>
        <ul>
            <li><strong>Desenho e Pintura:</strong> As crianças adoram expressar sua criatividade através do desenho e da pintura. Este hobby
            ajuda no desenvolvimento da coordenação motora fina e estimula a imaginação.</li>

            <li><strong>Esportes em Equipe:</strong> Participar de esportes como futebol, basquete ou vôlei ajuda as crianças a aprender
            habilidades sociais, trabalho em equipe e disciplina, além de promover um estilo de vida ativo e saudável.</li>

            <li><strong>Leitura de Livros Infantis:</strong> Ler livros infantis é uma maneira maravilhosa de estimular
            a imaginação e desenvolver habilidades linguísticas. Além disso, ajuda as crianças a adquirir o hábito da leitura desde cedo.</li>

            <li><strong>Montagem de Quebra-Cabeças:</strong> Montar quebra-cabeças é um hobby divertido e
            educativo que ajuda as crianças a desenvolver habilidades cognitivas, como resolução de problemas, reconhecimento de padrões e paciência.</li>

            <li><strong>Jardinagem em Miniatura:</strong>  Incentivar as crianças a cuidar de plantas em pequenos jardins é uma ótima maneira de ensiná-las sobre a natureza,
            responsabilidade e apreciação pelo meio ambiente.</li>


        </ul>
        <p>Quer saber da proxima etapa? Click</p>
         <nav>
        <a href="{% url 'guia_de_hobbies:hobbies_adolescentes' %}">aqui</a>
        </nav>

    </main>



</body>
</html>