<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies para Jovens</title>

    <style>
        body {
            background: lightgreen;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Jovens (20-39 anos)</h1>
    </header>

    <main>
        <h2>Estabelecimento de Carreira:</h2>
        <p>Os jovens estão focados em construir suas carreiras, adquirir habilidades profissionais e alcançar estabilidade financeira.</p>

        <h2>Relacionamentos Românticos:</h2>
        <p>Muitos jovens iniciam relacionamentos sérios, casamentos e fundam famílias.</p>

        <h2>Sugestões de hobbies:</h2>
        <ul>
            <li><strong>Culinária Gourmet:</strong> Aprender a cozinhar pratos gourmet é uma forma deliciosa de relaxar e impressionar amigos e familiares. Além disso, é uma habilidade prática que pode trazer muita satisfação pessoal.</li>

            <li><strong>Corrida de Rua:</strong> Participar de corridas de rua, como maratonas ou meias maratonas, é uma excelente maneira de manter a forma física, aliviar o estresse e fazer novas amizades na comunidade de corredores.</li>

            <li><strong>Arte DIY (Faça Você Mesmo):</strong> O movimento DIY está em alta, com muitos jovens explorando atividades artísticas como pintura, escultura, costura, entre outros. Isso permite que expressem sua criatividade de forma única e personalizada.</li>

            <li><strong>Viagens Aventureiras:</strong> Explorar destinos exóticos e realizar viagens de aventura, como trekking em montanhas, mergulho em recifes de corais ou acampamento selvagem, proporciona experiências inesquecíveis e um contato mais profundo com a natureza.</li>

            <li><strong>Yoga e Meditação:</strong> Praticar yoga e meditação é uma maneira eficaz de encontrar equilíbrio e bem-estar em meio ao ritmo acelerado da vida moderna. Essas práticas promovem relaxamento, flexibilidade, concentração e autoconsciência.</li>
        </ul>
        <p>Quer saber da próxima etapa? Clique <a href="{% url 'guia_de_hobbies:hobbies_idosos' %}">aqui</a>.</p>
    </main>
</body>
</html>
