<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies para Idosos</title>

    <style>
        body {
            background: lightgrey;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Idosos (40 anos em diante)</h1>
    </header>

    <main>
        <h2>Horticultura:</h2>
        <p>Cultivar um jardim de flores, vegetais ou ervas é uma atividade terapêutica e gratificante para os idosos. Além de fornecer exercício físico leve, a jardinagem promove relaxamento e conexão com a natureza.</p>

        <h2>Dança de Salão:</h2>
        <p>A dança de salão, como salsa, tango ou valsa, é uma forma divertida de se exercitar, socializar e manter a mente ativa. Além disso, melhora a postura, equilíbrio e coordenação motora.</p>

        <h2>Sugestões de hobbies:</h2>
        <ul>
            <li><strong>Pintura e Desenho:</strong> Muitos idosos descobrem talentos artísticos tardios e se dedicam à pintura ou desenho como um hobby relaxante e criativo. Isso permite que expressem sua imaginação e emoções de forma visual.</li>

            <li><strong>Voluntariado:</strong> Muitos idosos encontram satisfação e propósito no voluntariado, seja ajudando em abrigos de animais, hospitais, escolas ou outras organizações comunitárias. Isso promove um senso de contribuição e conexão com a comunidade.</li>

            <li><strong>Leitura e Clube do Livro:</strong> Participar de um clube do livro ou simplesmente dedicar tempo para ler livros é uma atividade prazerosa e intelectualmente estimulante para os idosos. Isso mantém a mente afiada, amplia horizontes e oferece entretenimento.</li>

        </ul>

         <p>Quer saber sobre as etapa? Clique <a href="{% url 'guia_de_hobbies:hobbies' %}">aqui</a>.</p>
    </main>
</body>
</html>
